#topNav{
    height:10vh;
    width:100vw;
    display:flex;
    justify-content: left;
    align-items: center;
}

#achievementsIcon{
    height:80px;
    width:80px;
    margin-left: 20%;
    margin-right: 10px;
}

#AchievementsContainer{
    height:90vh;
    width:100vw;
    background-color: darkcyan;
     display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.achievement{
    height:80px;
    width:80px;
    background-color: bisque;
    border-radius: 50%;
    margin:10px
}