#pageheader{
    height:10vh;
    width:100vw;
    font-size: 4rem;
    display:flex;
    justify-content: center;
    align-items: center;

}
        
#navBarContainer{
    width:100vw;
    height:5vh;
    background-color: grey;
    color:white;
    display:flex;
    justify-content:center ;
    align-items: center;

}

#availableShopItemsContainer{
    width:100vw;
    height:85vh;
    background-color: darkgrey;
    display:grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-auto-rows: 100px;
    padding-top: 20px;

}

.item{
    width:80px;
    height:80px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    border-radius:50%;
}